<p>register works!</p>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <mat-form-field>
      <input matInput placeholder="Full Name" formControlName="name" />
      <mat-hint *ngIf="registerForm.get('name').errors"
        >Full name is required</mat-hint
      >
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="User name" formControlName="username" />
      <mat-hint *ngIf="registerForm.get('username').errors"
        >Username is required</mat-hint
      >
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="email" formControlName="email" />
      <mat-hint *ngIf="registerForm.get('email').errors"
        >Email is required</mat-hint
      >
    </mat-form-field>

    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="password"
        formControlName="password"
      />
      <mat-hint *ngIf="registerForm.get('password').errors"
        >Password is required</mat-hint
      >
    </mat-form-field>

    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="password confirm"
        formControlName="passwordConfirm"
      />
      <mat-hint *ngIf="registerForm.get('passwordConfirm').errors"
        >PasswordConfirm is required</mat-hint
      >
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      [disabled]="registerForm.invalid"
      type="submit"
    >
      Register
    </button>
  </div>
</form>
